<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改应用信息</title>
    <link href="/static/favicon.ico" rel="Shortcut Icon">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
  <!--   <div class="king-page-box">
        <div class="king-layout1-main clearfix">
            <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe> -->
        <div id="wrapper">
                  {% include 'home_application/header.html' %}
                  {% block header %}{% endblock %}
                  <div id="page-wrapper" class="gray-bg">
                      <div class="row border-bottom">
                          {% block content %}{% endblock %}
                          {% include 'home_application/menu.html' %}
                      </div>
                  </div>
        </div>
            <!-- content start -->
            <div class="king-content-wrap">
                <!-- <iframe   id="menuFrame"  name="menuFrame" frameborder=0   border=0   width=216   onload="this.height=menuFrame.document.body.scrollHeight"  src="../menu" ></iframe> -->
                <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1020px;">
                    <div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">修改应用信息</h3>
                        </div>
<!--
如果没有引用以下文件，请去掉此注释
<link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
-->
<div class="king-block king-block-bordered">

    <div class="king-block-content">
        <!-- 水平布局表单-1 Start -->
        <form id="downForm" class="form-horizontal" method="POST">
            {% if emg %}
                <div class="alert alert-danger text-center">{{ emg }}</div>
            {% endif %}
            {% if smg %}
                <div class="alert alert-success text-center">{{ smg }}</div>
            {% endif %}
            <div class="form-group">
                <label for="business_select" class="col-sm-3 control-label">业务线：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                        <span style="display:none;"><input id="business_line" type="text" value="{{app.business_id}}"></span>
                    {% endfor %}
                    <select id="business_select" name= "business_select" class="col-sm-8" style="width:300px; height: 30px">
                            {% for business in business_list %}
                             <option value="{{ business.id }}">{{ business.name }}</option>
                             {% endfor %}
                     </select>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">应用名称：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input type="text" class="form-control" id="name" name="name"  value="{{ app.name }}">
                    {% endfor %}
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="war_path" class="col-sm-3 control-label">war包仓库路径：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input type="text" class="form-control" id="war_path" name="war_path" value="{{ app.war_path }}">
                    {% endfor %}
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="target_server_ip" class="col-sm-3 control-label">目标服务器：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input id="target_server_ip" name="target_server_ip" type="text" class="form-control"  value="{{ app.target_server_ip }}">
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="deploy_path" class="col-sm-3 control-label">部署目录：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input id="deploy_path" name="deploy_path" type="text" class="form-control"  value="{{ app.deploy_path }}">
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="config_path" class="col-sm-3 control-label">配置文件路径：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input type="text" class="form-control" id="config_path" name="config_path"  value="{{ app.config_path }}">
                    {% endfor %}
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-3 control-label">部署要求：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <span style="display:none;"><input id="app_type_check" type="text" value="{{app.type}}"></span>
                    <select name="type" id="type" class="form-control">
                        <option value="1">tomcat6+jdk1.6</option>
                        <option value="2">tomcat7+jdk1.7</option>
                        <option value="3">tomcat8+jdk1.7</option>
                        <option value="4">其他</option>
                    </select>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="cluster_num" class="col-sm-3 control-label">集群数量：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <span style="display:none;"><input id="cluster_num_check" type="text" value="{{app.cluster_num}}"></span>
                    <select name="cluster_num" id="cluster_num" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label col-sm-3" for="svn_path">SVN路径：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <textarea class="form-control" rows="3" id="svn_path" name="svn_path">{{ app.svn_path }}</textarea>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="master" class="col-sm-3 control-label">产品master：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input type="text" class="form-control" id="master" name="master"  value="{{ app.master }}">
                    {% endfor %}
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="owner" class="col-sm-3 control-label">应用负责人：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input type="text" class="form-control" id="owner" name="owner" value="{{ app.owner }}">
                    {% endfor %}
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="operator" class="col-sm-3 control-label">运维负责人：</label>
                <div class="col-sm-7">
                    {% for app in app_select %}
                    <input type="text" class="form-control" id="operator" name="operator" value="{{ app.operator }}">
                    {% endfor %}
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                     <button class="king-btn king-default" type="reset">
                      取消
                      </button>
                      <button class="king-btn king-success mr10" onclick="check()">
                       提交
                      </button>
                </div>
            </div>
        </form>
        <!-- 水平布局表单-1 End -->
    </div>
</div>
                    </div>
                </div>
            </div>

<script type="text/javascript">

function check(){
    var name = document.getElementById("name").value;
    if(name != ""){
        // alert("提交成功");
        // alert(document.getElementById('pre_release_time').value);
        document.getElementById('downForm').submit(); //验证成功进行表单提交
    }else{
        alert("应用名不能为空！");
        return false;
        // window.location.href="/apply/"; 可以将其连接到指定的位置
    }
}
</script>

<script type="text/javascript">
   	var select_type = $("#app_type_check").attr("value")
   	var options = $("#type option")
	for(var i = 0; i<options.length;i++) {
		if(options.eq(i).val() === select_type) {
			options.eq(i).attr("selected", true)
		}
	}
</script>

<script type="text/javascript">
   	var select_type = $("#cluster_num_check").attr("value")
   	var options = $("#cluster_num option")
	for(var i = 0; i<options.length;i++) {
		if(options.eq(i).val() === select_type) {
			options.eq(i).attr("selected", true)
		}
	}
</script>

<script type="text/javascript">
   	var select_business = $("#business_line").attr("value")
   	var options = $("#business_select option")
	for(var i = 0; i<options.length;i++) {
		if(options.eq(i).val() === select_business) {
			options.eq(i).attr("selected", true)
		}
	}
</script>
</body>
</html>