<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            修改申请信息
        </title>
        <link href="/static/favicon.ico" rel="Shortcut Icon">
        <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
        <!-- Bootstrap css -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <!-- kendo ui css -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
        <!-- font-awesome -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
        <!--蓝鲸提供的公用样式库 -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
        <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
        <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
        <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
        <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
        <!-- 数据埋点统计 -->
        <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
            <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js">
            </script>
            <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js">
            </script>
        <![endif]-->
    </head>

    <body class="bg-white" data-bg-color="bg-white">
        <!-- <div class="king-page-box">
        <div class="king-layout1-main clearfix">
        <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe> -->
        <div id="wrapper">
            {% include 'home_application/header.html' %}
            {% block header %}{% endblock %}
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    {% block content %}{% endblock %}
                    {% include 'home_application/menu.html' %}
                </div>
            </div>
        </div>
        <!-- content start -->
        <div class="king-content-wrap">
            <!-- <iframe id="menuFrame" name="menuFrame" frameborder=0 border=0 width=216
            onload="this.height=menuFrame.document.body.scrollHeight" src="../menu"></iframe>-->
            <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1025px;">
                <div class="panel king-panel1 mb0  ">
                    <div class="panel-heading king-panel-head1 king-panel-top2">
                        <h3 class="panel-title">
                            申请发布
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="king-pearls king-pearls king-justified-pearls">
                            <div class="king-pearl done">
                                <span class="king-pearl-number ">
                                    1
                                </span>
                                <span class="king-pearl-title ">
                                    提交申请
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    2
                                </span>
                                <span class="king-pearl-title ">
                                    xk待测试
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    3
                                </span>
                                <span class="king-pearl-title ">
                                    线上发布
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    4
                                </span>
                                <span class="king-pearl-title ">
                                    线上测试
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    5
                                </span>
                                <span class="king-pearl-title ">
                                    完成发布
                                </span>
                            </div>
                        </div>
                        <!-- 设置面板Start -->
                        <!-- 设置面板End -->
                    </div>
                </div>
                <br />
                <div class="panel king-panel1 mb0  ">
                    <div class="panel-heading king-panel-head1 king-panel-top2">
                        <h3 class="panel-title">
                            修改申请信息
                        </h3>
                    </div>
                    <br />
                    <div class="king-block king-block-bordered">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <form id="downForm" class="form-horizontal" method="post">
                                            {% if emg %}
                                                <div class="alert alert-danger text-center">{{ emg }}</div>
                                            {% endif %}
                                            {% if smg %}
                                                <div class="alert alert-success text-center">{{ smg }}</div>
                                            {% endif %}
                                            <div class="form-group">
                                                <label for="name" class="col-sm-2 control-label">
                                                    ID：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% for apply in apply_select %}
                                                        <span class="col-sm-1 control-label">{{ apply.id }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="business_select" class="col-sm-2 control-label">
                                                    业务线：
                                                </label>
                                                <div class="col-sm-8" id="plugin3_demo1" style="display:inline-block;">
                                                    <!-- select2 静态 start -->
                                                    {% for apply in apply_select %}
                                                        <span style="display:none;"><input id="business_line" type="text" value="{{apply.business_id}}"></span>
                                                    {% endfor %}
                                                    <select id="business_select" name= "business_select" class="col-sm-8" style="width:300px; height: 30px">
                                                        {% for business in business_list %}
                                                            <option value="{{ business.id }}">{{ business.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- select2 静态 end -->
                                                     <span class="text-danger mt5 fl">
                                                        &nbsp;&nbsp;&nbsp; *
                                                     </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="name" class="col-sm-2 control-label">
                                                    应用名称：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% for apply in apply_select %}
                                                    <input id="name" name="name" value="{{ apply.applications_name }}" type="text" class="form-control keywork-input">
                                                    {% endfor %}
                                                </div>
                                                <span class="text-danger mt5 fl">
                                                    *
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="war_path" class="col-sm-2 control-label">
                                                    程序包位置：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% for apply in apply_select %}
                                                    <input id="war_path" name="war_path" value="{{ apply.war_path }}" type="text" class="form-control">
                                                    {% endfor %}
                                                </div>
                                                <span class="text-danger mt5 fl">
                                                    *
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="version_id" class="col-sm-2 control-label">
                                                    发布版本：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% for apply in apply_select %}
                                                    <input id="version_id" name="version_id" value="{{ apply.release_version }}" type="text" class="form-control">
                                                    {% endfor %}
                                                </div>
                                                <span class="text-danger mt5 fl">
                                                    *
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="version_name" class="col-sm-2 control-label">
                                                    发布理由：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% for apply in apply_select %}
                                                    <textarea id="release_reason" name="release_reason" class="form-control"  rows="3">{{ apply.release_reason }}</textarea>
                                                    {% endfor %}
                                                </div>
                                                <span class="text-danger mt5 fl">
                                                    *
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="pre_release_time" class="col-sm-2 control-label">
                                                    预发布时间：
                                                </label>
                                                <div class="col-sm-8" >
                                                    {% for apply in apply_select %}
                                                    <input id="pre_release_time" name="pre_release_time" value="{{ apply.pre_release_time|date:'Y-m-d H:i:s' }}" class="form-control" type="text" >
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="svn_path" class="col-sm-2 control-label">
                                                    SVN地址：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% for apply in apply_select %}
                                                    <textarea class="form-control" id="svn_path" name="svn_path" rows="3">{{ apply.svn_path }}</textarea>
                                                    {% endfor %}
                                                </div>
                                                <span class="text-danger mt5 fl">
                                                    *
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label for="email_address_post" class="col-sm-2 control-label">
                                                    关系人邮件：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% for apply in apply_select %}
                                                     <input id="email_address_post" name="email_address_post" value="{{ apply.email_address }}" type="text" class="form-control">
                                                    {% endfor %}
                                                </div>
                                                <span class="text-danger mt5 fl">
                                                    *
                                                </span>
                                            </div>
                                            <div class="hr-line-dashed">
                                            </div>
                                            <div class="form-group">
                                                <label for="status" class="col-sm-2 control-label">
                                                    发布类型：
                                                </label>
                                                 <div class="col-sm-8"  style="width:300px; height: 30px">
                                                     {% for apply in apply_select %}
                                                     <span style="display:none;"><input id="app_type_num" type="text" value="{{apply.type}}"></span>
                                                     <select id="app_type" name="app_type">
                                                         <option value="1">
                                                            WEB
                                                         </option>
                                                         <option value="2">
                                                            APP
                                                         </option>
                                                         <option value="3">
                                                            接口
                                                         </option>
                                                     </select>
                                                     {% endfor %}
                                                    <small>
                                                        &nbsp;&nbsp;&nbsp;&nbsp; PS: 请根据实际情况选择。
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <button class="king-btn king-default" type="reset">
                                                        取消
                                                    </button>
                                                    <button class="king-btn king-success mr10" onclick="check()">
                                                        提交
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
        // select2 基础
        $("#plugin3_demo1 .select2_box").select2();
</script>


<script type="text/javascript">

function check(){
    var name = document.getElementById("name").value;
    if(name != ""){
        // alert("提交成功");
        // alert(document.getElementById('pre_release_time').value);
        document.getElementById('downForm').submit(); //验证成功进行表单提交
    }else{
        alert("应用名不能为空！");
        return false;
        // window.location.href="/apply/"; 可以将其连接到指定的位置
    }
}
</script>

<script type="text/javascript">
    //日期选择
    var select_pre_release_time = $("#pre_release_time").attr("value")
    $('#plugin16_demo1_1').kendoDatePicker({
        value : new Date(),
        format : "yyyy-MM-dd"
    });
    //时间选择
    $("#plugin16_demo1_2").kendoTimePicker();
    //时间日期选择
    $("#pre_release_time").kendoDateTimePicker({
        value: select_pre_release_time,
        format : "yyyy-MM-dd HH:mm"
    });
</script>

<script type="text/javascript">
   	var select_type = $("#app_type_num").attr("value")
   	var options = $("#app_type option")
	for(var i = 0; i<options.length;i++) {
		if(options.eq(i).val() === select_type) {
			options.eq(i).attr("selected", true)
		}
	}
</script>

<script type="text/javascript">
   	var select_business = $("#business_line").attr("value")
   	var options = $("#business_select option")
	for(var i = 0; i<options.length;i++) {
		if(options.eq(i).val() === select_business) {
			options.eq(i).attr("selected", true)
		}
	}
</script>
</body>
</html>