<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>申请发布</title>
    <link href="/static/favicon.ico" rel="Shortcut Icon">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
  <!--   <div class="king-page-box">
        <div class="king-layout1-main clearfix"> -->
            <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe>
            <!-- content start -->
            <div class="king-content-wrap">
                <iframe   id="menuFrame"  name="menuFrame" frameborder=0   border=0   width=216   onload="this.height=menuFrame.document.body.scrollHeight"  src="../menu" ></iframe>
                <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1040px;">
                    <div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">申请发布</h3>
                        </div>
                        <div class="panel-body">
                            <div class="king-pearls king-pearls king-justified-pearls">
                                <div class="king-pearl done">
                                    <span class="king-pearl-number ">1</span>
                                    <span class="king-pearl-title ">提交申请</span>
                                </div>
                                <div class="king-pearl">
                                    <span class="king-pearl-number ">2</span>
                                    <span class="king-pearl-title ">xk待测试</span>
                                </div>
                                <div class="king-pearl">
                                    <span class="king-pearl-number ">3</span>
                                    <span class="king-pearl-title ">线上发布</span>
                                </div>
                                <div class="king-pearl">
                                    <span class="king-pearl-number ">4</span>
                                    <span class="king-pearl-title ">线上测试</span>
                                </div>
                                <div class="king-pearl">
                                    <span class="king-pearl-number ">5</span>
                                    <span class="king-pearl-title ">完成发布</span>
                                </div>
                            </div>
                            <!-- 设置面板Start -->
                            <!-- 设置面板End -->
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">填写发布信息</h3>
                        </div>
<!--
如果没有引用以下文件，请去掉此注释
<link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
-->
<div class="king-block king-block-bordered">

    <div class="king-block-content">
        <!-- 水平布局表单-1 Start -->
        <form class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="inputCount3" class="col-sm-3 control-label">业务线：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCount3" placeholder="要发布的业务线名称">
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">申请人：</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="输入申请人姓名">

                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">程序包位置：</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="">
                    <p class="help-block">请填写程序包的完整路径</p>
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">版本：</label>
                <div class="col-sm-7">
                    <select name="" id="" class="form-control">
                        <option value="深圳">demo</option>
                        <option value="北京">1</option>
                        <option value="上海">2</option>
                        <option value="广州">3</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">发布理由：</label>
                <div class="col-sm-7">
                    <div class="checkbox">
                        <label class="mr10">
                            <input type="checkbox" value="">修复bug
                        </label>
                        <label class="mr10">
                            <input type="checkbox" value="">新增功能
                        </label>
                        <label>
                            <input type="checkbox" value="" >其它
                        </label>
                    </div>
                </div>
            </div>

                        <div class="form-group">
                <label for="inputCount3" class="col-sm-3 control-label">预发布时间：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="inputCount3" placeholder="预发布时间">
                </div>
                <span class="text-danger mt5 fl">*</span>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-sm-3" for="introduction">SVN地址：</label>

                <div class="col-sm-7">
                    <textarea class="form-control" rows="3" id="introduction"></textarea>
                </div>
            </div>

                        <div class="form-group has-feedback">
                <label class="control-label col-sm-3" for="introduction">DB脚本：</label>

                <div class="col-sm-7">
                    <textarea class="form-control" rows="3" id="introduction"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <input type="button" class="king-btn king-success mr10" value="提交">
                    <input type="reset" class="king-btn king-default" value="取消">
                </div>
            </div>
        </form>
        <!-- 水平布局表单-1 End -->
    </div>
</div>

    <script>
        $(function(){
             var li = $('.navi li');
             li.each(function(){
             $(this).click(function(){
             if( $(this).hasClass('c-open')){
                $(this).find('ul').slideUp(350);
                $(this).removeClass('c-open');
             }else{
               $(this).find('ul').slideDown(350);
               $(this).addClass('c-open');
               }
              })
           });
        })
    </script>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bkclouds.cc/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1491037257824').html();
                        var headerTpl =  $('#header_tpl_1491037257824').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1491037257824 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
</body>

</html>