<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="15">
        <title>
            查看发布日志
        </title>
        <link href="/static/favicon.ico" rel="Shortcut Icon">
        <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
        <!-- Bootstrap css -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <!-- kendo ui css -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
        <!-- font-awesome -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
        <!--蓝鲸提供的公用样式库 -->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
        <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
        <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
        <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
        <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
        <!-- 数据埋点统计 -->
        <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
            <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js">
            </script>
            <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js">
            </script>
        <![endif]-->
        <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/switchery-master/dist/switchery.css" rel="stylesheet">
        <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/switchery-master/dist/switchery.js"></script>
    </head>

    <body class="bg-white" data-bg-color="bg-white">
        <!-- <div class="king-page-box">
        <div class="king-layout1-main clearfix">
        <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe> -->
        <div id="wrapper">
            {% include 'home_application/header.html' %}
            {% block header %}{% endblock %}
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    {% block content %}{% endblock %}
                    {% include 'home_application/menu.html' %}
                </div>
            </div>
        </div>
        <!-- content start -->
        <div class="king-content-wrap">
            <!-- <iframe id="menuFrame" name="menuFrame" frameborder=0 border=0 width=216
            onload="this.height=menuFrame.document.body.scrollHeight" src="../menu"></iframe>-->
            <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1130px;">
                <div class="panel king-panel1 mb0  ">
                    <div class="panel-heading king-panel-head1 king-panel-top2">
                        <h3 class="panel-title">
                            申请发布
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="king-pearls king-pearls king-justified-pearls">
                            <div class="king-pearl done">
                                <span class="king-pearl-number ">
                                    1
                                </span>
                                <span class="king-pearl-title ">
                                    提交申请
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    2
                                </span>
                                <span class="king-pearl-title ">
                                    xk待测试
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    3
                                </span>
                                <span class="king-pearl-title ">
                                    线上发布
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    4
                                </span>
                                <span class="king-pearl-title ">
                                    线上测试
                                </span>
                            </div>
                            <div class="king-pearl">
                                <span class="king-pearl-number ">
                                    5
                                </span>
                                <span class="king-pearl-title ">
                                    完成发布
                                </span>
                            </div>
                        </div>
                        <!-- 设置面板Start -->
                        <!-- 设置面板End -->
                    </div>
                </div>
                <br />
                <div class="panel king-panel1 mb0  ">
                    <div class="panel-heading king-panel-head1 king-panel-top2">
                        <h3 class="panel-title">
                            查看发布日志
                        </h3>
                    </div>
                    <br />
                    <div class="king-block king-block-bordered">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <form id="downForm" class="form-horizontal" method="post">
                                            <div class="form-group">
                                                <label for="apply_id" class="col-sm-2 control-label">
                                                    ID：
                                                </label>
                                                <div class="col-sm-8" id="apply_id" style="margin-left: -20px">
                                                    {% for apply in apply_select %}
                                                        <span class="col-sm-1 control-label">{{ apply.id }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="war_path" class="col-sm-2 control-label">
                                                    应用名称：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% if applications_name %}
                                                        <a id="applications_name" name="applications_name" type="text" class="form-control">{{ applications_name }}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="apply_status" class="col-sm-2 control-label">
                                                    状态：
                                                </label>
                                                <div class="col-sm-8" id="apply_status" style="margin-top: 5px" >
                                                    {% for apply in apply_select %}
                                                        {% if apply.status == "发布失败" %}
                                                            <span class="label label-danger" >{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "提交申请" %}
                                                            <span class="label label-info">{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "XK发布中" %}
                                                            <span class="label label-info">{{ apply.status }}</span>&nbsp;<img alt="loadding" src="https://magicbox.bk.tencent.com/static_api/v3/components/loading2/gif/hourglass_24.gif">
                                                        {% endif %}
                                                        {% if apply.status == "生产发布中" %}
                                                            <span class="label label-info">{{ apply.status }}</span>&nbsp;<img alt="loadding" src="https://magicbox.bk.tencent.com/static_api/v3/components/loading2/gif/hourglass_24.gif">
                                                        {% endif %}
                                                        {% if apply.status == "XK待测试" %}
                                                            <span class="label label-info" >{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "生产待测试" %}
                                                            <span class="label label-primary">{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "线上待发布" %}
                                                            <span class="label label-warning" >{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "XK测试退回" %}
                                                            <span class="label label-danger" >{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "生产测试退回" %}
                                                            <span class="label label-danger" >{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "审核退回" %}
                                                            <span class="label label-danger" >{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "已回滚" %}
                                                            <span class="label label-default" >{{ apply.status }}</span>
                                                        {% endif %}
                                                        {% if apply.status == "完成发布" %}
                                                            <span class="label label-success" >{{ apply.status }}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="svn_path" class="col-sm-2 control-label">
                                                    发布日志：
                                                </label>
                                                <div class="col-sm-8">
                                                    {% if smg %}
                                                    <textarea class="form-control" id="svn_path" name="svn_path" readonly="readonly" rows="30">{{ smg }}</textarea>
                                                    {% endif %}
                                                    {% if resp %}
                                                    <textarea class="form-control" id="svn_path" name="svn_path" readonly="readonly" rows="30">{{ resp }}</textarea>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    </br>
                                                    <a href="{% url 'home_application.views.applylist' %}" class="king-btn king-success mr10">返回列表</a>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
        // select2 基础
        $("#plugin3_demo1 .select2_box").select2();
</script>
<script type="text/javascript">
    var small = document.querySelector('.js-switch-small');
      var switchery = new Switchery(small, { size: 'small' });
</script>

</body>
</html>