<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>申请发布</title>
    <link href="/static/favicon.ico" rel="Shortcut Icon">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
            <!-- sidebar start -->
            <div class="king-layout1-sidebar" style="width:216px;">
                <nav style="height:100%" class="   f14">
                    <div class="king-vertical-nav4">
                        <div class="sidebar-inner">
                            <ul class="navi">
                                <li class="has_submenu current open c-open active">
                                    <a href="javascript:void(0);"> <i class="fa fa-newspaper-o ">                        </i>
                                        <span>发布管理</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../apply">申请发布<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../applylist">发布申请列表<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../testlist">待测试列表<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../rollbacklist">回滚记录<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../returnedlist">退回记录<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../review">审核发布<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../package">应用打包<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                                <li class="has_submenu current open c-open">
                                    <a href="javascript:void(0);"> <i class="fa fa-star-half-full ">                        </i>
                                        <span>业务系统管理</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../newapp">新建应用<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../applist">应用列表<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../appoperation">应用操作<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                                <li class="has_submenu current open c-open">
                                    <a href="javascript:void(0);"> <i class="fa fa-tasks ">                        </i>
                                        <span>版本管理</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="javascript:void(0);">版本列表<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                                <li class="has_submenu current open">
                                    <a href="javascript:void(0);"> <i class="fa fa-laptop ">                        </i>
                                        <span>监控管理</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu" style="display: block;">
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../monitor">监控告警展示<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../urllist">服务质量监控<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="">数据库性能监控<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                                <li class="has_submenu current open c-open">
                                    <a href="javascript:void(0);"> <i class="fa fa-tasks ">                        </i>
                                        <span>日志管理</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu" style="display: block;">
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../elk">日志错误告警信息<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="../logstatus" target="_blank">业务看板<i class="fa fa-chevron-right pull-right"></i></a></li>
                                        <li><a href="javascript:void(0);" onclick=window.top.location="../operation">业务运营分析<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                                <li class="has_submenu current open c-open">
                                    <a href="javascript:void(0);" > <i class="fa fa-sitemap ">                        </i>
                                        <span>配置管理</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu" style="display: block;">
                                        <li><a href="javascript:void(0);" onclick=window.open("http://10.32.145.104:8888/")>配置查询<i class="fa fa-chevron-right pull-right"></i></a></li>
                                    </ul>
                                </li>
                                <li class="has_submenu current open c-open">
                                    <a href="javascript:void(0);"> <i class="fa fa-institution ">                        </i>
                                        <span>用户管理</span>
                                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="sub-menu"> </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

    <script>
        $(function(){
             var li = $('.navi li');
             li.each(function(){
             $(this).click(function(){
             if( $(this).hasClass('c-open')){
                $(this).find('ul').slideUp(350);
                $(this).removeClass('c-open');
             }else{
               $(this).find('ul').slideDown(350);
               $(this).addClass('c-open');
               }
              })
           });
        })
    </script>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bkclouds.cc/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1491037257824').html();
                        var headerTpl =  $('#header_tpl_1491037257824').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1491037257824 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
</body>

</html>