<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>业务运营指标展示</title>
    <link href="/static/favicon.ico" rel="Shortcut Icon">
    <meta http-equiv="refresh" content="300">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
   <!--   <div class="king-page-box">
        <div class="king-layout1-main clearfix"> -->
            <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe>
            <!-- content start -->
            <div class="king-content-wrap">
                <iframe   id="menuFrame"  name="menuFrame" frameborder=0   border=0   width=216   onload="this.height=menuFrame.document.body.scrollHeight"  src="../menu" ></iframe>
                <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1020px;">
                    <div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">业务运营指标展示  （月度）</h3>
                        </div>


<iframe src="http://10.3.53.102/app/kibana#/dashboard/%E4%BA%91%E8%8D%AF%E6%88%BF%E8%BF%90%E8%90%A5%E6%95%B0%E6%8D%AE%E7%BB%9F%E8%AE%A1-%E6%B5%8B%E8%AF%95?embed&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now%2FM,mode:quick,to:now%2FM))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:11,id:%E4%BA%91%E8%8D%AF%E6%88%BF%E8%AE%A2%E5%8D%95%E6%9C%88%E7%BB%9F%E8%AE%A1-%E6%B5%8B%E8%AF%95,panelIndex:2,row:1,size_x:2,size_y:2,type:visualization),(col:6,id:%E4%BA%91%E8%8D%AF%E6%88%BF%E8%AE%A2%E5%8D%95%E8%B6%8B%E5%8A%BF-%E6%B5%8B%E8%AF%95,panelIndex:3,row:1,size_x:5,size_y:2,type:visualization),(col:1,id:%E4%BA%91%E8%8D%AF%E6%88%BF%E8%AE%A2%E5%8D%95%E7%BB%9F%E8%AE%A1-%E6%B5%8B%E8%AF%95,panelIndex:6,row:1,size_x:5,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:%E4%BA%91%E8%8D%AF%E6%88%BF%E8%BF%90%E8%90%A5%E6%95%B0%E6%8D%AE%E7%BB%9F%E8%AE%A1-%E6%B5%8B%E8%AF%95,uiState:())" height="240" width="1200"></iframe>
</div>
                    </div>
                </div>
</body>

</html>