<!DOCTYPE html>
<!-- <iframe   frameborder=0   border=0   width=1500   height=1000   src="../menu"l mce_src="../menu"></iframe> -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>审核发布</title>
    <link href="/static/favicon.ico" rel="Shortcut Icon">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
  <!--   <div class="king-page-box">
        <div class="king-layout1-main clearfix"> -->
         <!--  <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe> -->
    <div id="wrapper">
        {% include 'home_application/header.html' %}
        {% block header %}{% endblock %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                {% block content %}{% endblock %}
                {% include 'home_application/menu.html' %}
            </div>
        </div>
    </div>
            <!-- content start -->
            <div class="king-content-wrap">
               <!-- <iframe   id="menuFrame"  name="menuFrame" frameborder=0   border=0   width=216   onload="this.height=menuFrame.document.body.scrollHeight"  src="../menu" ></iframe> -->
                <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1130px;">
                    <div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">审核发布</h3>
                        </div>
                        <div class="panel-body">
                            <div class="king-pearls king-pearls king-justified-pearls">
                                <div class="king-pearl done">
                                    <span class="king-pearl-number ">1</span>
                                    <span class="king-pearl-title ">提交申请</span>
                                </div>
                                <div class="king-pearl done">
                                    <span class="king-pearl-number ">2</span>
                                    <span class="king-pearl-title ">xk待测试</span>
                                </div>
                                <div class="king-pearl done">
                                    <span class="king-pearl-number ">3</span>
                                    <span class="king-pearl-title ">线上发布</span>
                                </div>
                                <div class="king-pearl">
                                    <span class="king-pearl-number ">4</span>
                                    <span class="king-pearl-title ">线上测试</span>
                                </div>
                                <div class="king-pearl">
                                    <span class="king-pearl-number ">5</span>
                                    <span class="king-pearl-title ">完成发布</span>
                                </div>
                            </div>
                            <!-- 设置面板Start -->
                            <!-- 设置面板End -->
                        </div>
                    </div>
                    <br />
<!--HTML-->
<div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">审核发布</h3>
                        </div>
<div class="tab-content">
    <div class="row">
        <div class="form-inline" style="float: right">
            <form id="search_form" method="get" action="" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" id="keyword" name="keyword" value="{{ keyword }}" placeholder="Search">
                        <div class="input-group-btn">
                            <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
                        </div>
                 </div>
             </form>
         </div>
    </div>

<table id="table2_demo1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">业务线</th>
            <th class="text-center">应用</th>
            <th class="text-center">申请人</th>
            <th class="text-center">申请日期</th>
            <th class="text-center">状态</th>
            <th class="text-center">版本</th>
            <th class="text-center">线上版本</th>
            <th class="text-center">操作</th>
        </tr>
    </thead>
    <tbody>
       {% for post in contacts.object_list %}
           <tr class="gradeX">
               <td class="text-center"> <a href="{% url 'home_application.views.apply_info' %}?id={{ post.id }}">{{ post.id }}</a> </td>
               <td class="text-center"> {{ post.business_name }} </td>
               <td class="text-center"> {{ post.applications_name }} </td>
               <td class="text-center"> {{ post.applicant }} </td>
               <td class="text-center"> {{ post.date_added |date:'Y-m-d H:i:s' }} </td>
               <td class="text-center">
                   {% if post.status == "生产发布中" %}
                       <a href="{% url 'home_application.views.deploy_info' %}?id={{ post.id }}"><span class="label label-warning" >{{ post.status }}</span><img alt="loadding" src="https://magicbox.bk.tencent.com/static_api/v3/components/loading2/gif/hourglass_24.gif"></a>
                    {% endif %}
                   {% if post.status == "线上待发布" %}
                   <span class="label label-warning">{{ post.status }}</span>
                   {% endif %}
                   {% if post.status == "生产测试退回" %}
                   <span class="label label-danger">{{ post.status }}</span>
                   {% endif %}
               </td>
               <td class="text-center"> {{ post.release_version}} </td>
               <td class="text-center"> {{ post.latest_version}} </td>
               <td class="text-center" data-editable='false'>
                   <a value="{% url 'home_application.views.review_pass' %}?id={{ post.id }}" class="btn btn-xs btn-info review_pass">上线</a>
                   <a value="{% url 'home_application.views.review_back' %}?id={{ post.id }}" class="btn btn-xs btn-warning review_back">退回</a>
                   <a value="{% url 'home_application.views.review_rollback' %}?id={{ post.id }}" class="btn btn-xs btn-danger review_rollback">回滚</a>
               </td>
           </tr>
       {% endfor %}
    </tbody>
</table>
</div>
                    <div class="row">
                            <div class="col-sm-6">
                            </div>
                            {% include 'paginator.html' %}
                    </div>
                    </div>
                </div>
            </div>

<script>
    $(document).ready(function(){
        $('.review_pass').click(function(){
            var row = $(this).closest('tr');
            if (confirm('确认上线发布？')) {
                $.get(
                        $(this).attr('value'),
                        {},
                        function (data) {
                            row.submit();
                            window.location.href="";
                            alert("发布已提交，请等待邮件通知！！");
                       }
                )
            }
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('.review_back').click(function(){
            var row = $(this).closest('tr');
            if (confirm('确认审核退回？')) {
                $.get(
                        $(this).attr('value'),
                        {},
                        function (data) {
                            row.submit();
                            window.location.href="";
                            alert("已审核退回！");
                       }
                )
            }
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('.review_rollback').click(function(){
            var row = $(this).closest('tr');
            if (confirm('确认回滚版本？该操作不可逆！')) {
                $.get(
                        $(this).attr('value'),
                        {},
                        function (data) {
                            row.submit();
                            window.location.href="";
                            alert("已提交回滚请求，请等待邮件通知！");
                       }
                )
            }
        });
    });
</script>

</body>
</html>