<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>发布成功记录</title>
    <link href="/static/favicon.ico" rel="Shortcut Icon">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
  <!--   <div class="king-page-box">
        <div class="king-layout1-main clearfix">
            <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe> -->
  <div id="wrapper">
        {% include 'home_application/header.html' %}
        {% block header %}{% endblock %}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                {% block content %}{% endblock %}
                {% include 'home_application/menu.html' %}
            </div>
        </div>
    </div>
            <!-- content start -->
            <div class="king-content-wrap">
              <!--   <iframe   id="menuFrame"  name="menuFrame" frameborder=0   border=0   width=216   onload="this.height=menuFrame.document.body.scrollHeight"  src="../menu" ></iframe> -->
                <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1130px;">
                    <div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">发布成功记录</h3>
                        </div>
                    <div class="panel-body">
                        <div class="king-pearls king-pearls king-justified-pearls">
                            <div class="king-pearl done">
                                <span class="king-pearl-number ">1</span>
                                <span class="king-pearl-title ">提交申请</span>
                            </div>
                            <div class="king-pearl done">
                                <span class="king-pearl-number ">2</span>
                                <span class="king-pearl-title ">xk待测试</span>
                            </div>
                            <div class="king-pearl done">
                                <span class="king-pearl-number ">3</span>
                                <span class="king-pearl-title ">线上发布</span>
                            </div>
                            <div class="king-pearl done">
                                <span class="king-pearl-number ">4</span>
                                <span class="king-pearl-title ">线上测试</span>
                            </div>
                            <div class="king-pearl done">
                                <span class="king-pearl-number ">5</span>
                                <span class="king-pearl-title ">完成发布</span>
                            </div>
                        </div>
                        <!-- 设置面板Start -->
                        <!-- 设置面板End -->
                    </div>
                    </div>
                <br />
<!--HTML-->
<div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">发布成功记录</h3>
                        </div>
<div class="tab-content ">
    <div class="row">
    <!-- 内联布局表单-1 Start -->
    <div class="form-inline" style="float: right">
                <form id="search_form" method="get" action="" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="keyword" name="keyword" value="{{ keyword }}" placeholder="Search">
                            <div class="input-group-btn">
                                <button id='search_btn' type="submit" class="btn btn-sm btn-primary">搜索</button>
                            </div>
                     </div>
                 </form>
    </div>
    <!-- 内联布局表单-1 End -->
</div>

<table id="table2_demo1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">业务线</th>
            <th class="text-center">应用</th>
            <th class="text-center">申请日期</th>
            <th class="text-center">状态</th>
            <th class="text-center">应用版本</th>
            <th class="text-center">发布版本</th>
            <th class="text-center">线上版本</th>
            <th class="text-center">申请人</th>
            <th class="text-center">发布时间</th>
        </tr>
    </thead>
    <tbody>
       {% for post in contacts.object_list %}
       <tr class="gradeX">
          <td class="text-center">
             <a href="{% url 'home_application.views.apply_info' %}?id={{ post.id }}">{{ post.id }}</a>
          </td>
          <td class="text-center">
             {{ post.business_name }}
          </td>
          <td class="text-center">
              {{ post.applications_name }}
          </td>
          <td class="text-center">
              {{ post.date_added|date:'Y-m-d H:i:s' }}
          </td>
          <td class="text-center">
              <span class="label label-success">{{ post.status }}</span>
          </td>
          <td class="text-center">
              {{ post.release_version }}
          </td>
          <td class="text-center">
              {{ post.deploy_version }}
          </td>
          <td class="text-center">
              {{ post.latest_version}}
          </td>
          <td class="text-center">
              {{ post.applicant}}
          </td>
          <td class="text-center">
              {{ post.date_reviewed|date:'Y-m-d H:i:s' }}
          </td>
       </tr>
            {% endfor %}
    </tbody>

</table>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                    </div>
                   </div>
                </div>
            </div>

    <script>
        $(function(){
             var li = $('.navi li');
             li.each(function(){
             $(this).click(function(){
             if( $(this).hasClass('c-open')){
                $(this).find('ul').slideUp(350);
                $(this).removeClass('c-open');
             }else{
               $(this).find('ul').slideDown(350);
               $(this).addClass('c-open');
               }
              })
           });
        })
    </script>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bkclouds.cc/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1491037257824').html();
                        var headerTpl =  $('#header_tpl_1491037257824').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1491037257824 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
</body>

</html>