<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>网站服务质量监控</title>
    <link href="/static/favicon.ico" rel="Shortcut Icon">
    <meta http-equiv="refresh" content="120">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
   <!--   <div class="king-page-box">
        <div class="king-layout1-main clearfix"> -->
            <iframe   id="headerFrame"  name="headerFrame" frameborder=0   border=0   width=100%   height=75   src="../header" ></iframe>
            <!-- content start -->
            <div class="king-content-wrap">
                <iframe   id="menuFrame"  name="menuFrame" frameborder=0   border=0   width=216   onload="this.height=menuFrame.document.body.scrollHeight"  src="../menu" ></iframe>
                <div class="king-layout1-content" style="margin-left: 216px;margin-top: -1020px;">
                    <div class="panel king-panel1 mb0  ">
                        <div class="panel-heading king-panel-head1 king-panel-top2">
                            <h3 class="panel-title">网站服务质量监控</h3>
                        </div>



<!--
如果没有引用以下文件，请去掉此注释
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/colresizable-1.5/colResizable-1.5.min.js"></script>
-->
<div id="table5_demo1" class="mb30">
    <!-- 可变列宽表格(colresize)-1 Start -->
    <table class="table table-header-bg table-bordered">
        <thead>
            <tr>
                <th>网站url</th>
                <th>网站名称</th>
                <th>状态码</th>
                <th>DNS解析时间(ms)</th>
                <th>建立连接时间(ms)</th>
                <th>传输结束总时间(ms)</th>
                <th>下载数据包大小(byte)</th>
                <th>平均下载速度(byte/s)</th>
            </tr>
        </thead>
                                <tbody>
                        {% for s in urldb %}
                            <tr>
                                <td style="width: 20%;">{{ s.0 }}</td>
                                <td style="width: 7%;">{{ s.1 }}</td>
                                <td style="width: 7%;">{{ s.2 }}</td>
                                <td style="width: 11%;">{{ s.3 }}</td>
                                <td style="width: 11%;">{{ s.4 }}</td>
                                <td style="width: 12%;">{{ s.5 }}</td>
                                <td style="width: 12%;">{{ s.6 }}</td>
                                <td style="width: 12%;">{{ s.7 }}</td>
                            </tr>
                        {% endfor %}


                        </tbody>
    </table>
    <!-- 可变列宽表格(colresize)-1 End -->
</div>
<script type="text/javascript">
    //表格(colresizable)-1
        $("#table5_demo1 table").colResizable({
            minWidth: 50,
            liveDrag: true,
            headerOnly: true
        });
</script>

    <script>
        $(function(){
             var li = $('.navi li');
             li.each(function(){
             $(this).click(function(){
             if( $(this).hasClass('c-open')){
                $(this).find('ul').slideUp(350);
                $(this).removeClass('c-open');
             }else{
               $(this).find('ul').slideDown(350);
               $(this).addClass('c-open');
               }
              })
           });
        })
    </script>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: 'https://magicbox.bkclouds.cc/static_api/v3/components/table6/data.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_1491037257824').html();
                        var headerTpl =  $('#header_tpl_1491037257824').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('#code_1491037257824 tbody').html(_html);
                        $('.ranger-box thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
</body>

</html>